@import url('https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
html{
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

body{
    background-image: url("garage.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}
h1{
    padding-bottom: 10px;
    color: #FFFFFF;
}

.login-form{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #212121;
    border-radius: 5px;
    padding: 40px;
}

.employeeID-box{
    display: flex;
    flex-direction: column;
    padding: 10px;

}

.password-box{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.container{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 85%;
    size:fixed;
}

.login-label{
    size: 25px;
    color: #FFFFFF;
}

.form-control{
    border: 5px;
    padding: 10px;
    background-color: #2f2f2f;
}

.default-button{
    background-color: #6CBBB3;
    border: none;
    color: #000000;
    padding: 10px 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25px;
}

input{
    color: #ffffff;
}

.nav-container2 {
	display: flex;
	align-items: center;
	height: 60px;
	justify-content: row;
}
.dash-text{
    padding: 5px;
}

.jobs{
    all: unset;
    background-color: #2f2f2f;
    color: #FFFFFF;
    width: 250px;
    padding: 10px; 
    font-size: 14px;
}

.job-box{
    display: flex;
    flex-direction: column;
    padding: 20px;
}
