<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../../static/css/style.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/createjob.css">
    <title>Create Job</title>
</head>
<body>
<div id="main">
    <div class="nav-container">
        <div class="nav-left">
            <button class="openbtn" onclick="openNav()">☰</button>
            <div><img src="../../static/img/car.svg"></div>
            <div class="dash-text">Dashboard</div>
        </div>
        <div class="nav-right">
            <div class="garage-text" >GarageBand</div>
        </div>
    </div>
    <div  class= "job-container">
        <form class="login-form">
            <h1 class="title">Create Job</h1>
            <div class="box">
                <label class="login-label">Customer</label>
                <input type="name" class="form-control" id="name" placeholder="Name" size = "35">
            </div>
            <div class="box">
                <label class="login-label">VIN</label>
                <input type="VIN" class="form-control" id="VIN" placeholder="VIN" size="35">
            </div>
            <div class="box">
                <label class="login-label">Notes</label>
                <textarea id="notes" class="form-control" placeholder="" rows="4" style="resize:none; overflow: hidden;"></textarea>
            </div>
            <button type="submit" class="default-button"><img src="../black-plus.svg"><div class="button-text">Create Job</div></button>
        </form>
    </div>
</div>

<div id="mySidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
    <div class="side-bar-nav">
        <img onclick="growDiv();" src="../../static/img/cardot.svg">
        <a onclick="growDiv();" href="#" class="selected">Job Management</a>
        <img class="chevron" onclick="growDiv();" src="../../static/img/downarrow.svg">
    </div>
    <div class="job-management_nav" id="grow">
        <div class="jab-management_nav-selected">
            <img src="../../static/img/creating-job.svg">
            <a href="">Create Job</a>
        </div>
        <div class="">
            <img src="../../static/img/job-bank.svg">
            <a onclick="growJobBank();">Job Bank</a>
            <img onclick="growJobBank();" class="job-bank_chevron" src="../../static/img/downarrow.svg">
        </div>
        <div class="job-management_create-job_taskbank" id="grow_taskbank">
            <div>
                <img src="../../static/img/magnifying.svg">
                <a href="">Search Job</a>
            </div>
            <div>
                <img src="../../static/img/taskbank.svg">
                <a href="">Task Bank</a>
            </div>
        </div>
        <div>
            <img src="../../static/img/checkout.svg">
            <a href="">Checkout Job</a>
        </div>
    </div>
    <div class="side-bar-nav">
        <img src="../../static/img/archived.svg">
        <a href="#">Archived Jobs</a>
        <img src="">
    </div>
    <div class="side-bar-nav">
        <img src="../../static/img/schedule.svg">
        <a href="#">Schedule</a>
        <img src="">
    </div>
    <div class="side-bar-nav">
        <img src="../../static/img/creating-customer.svg">
        <a href="#">Creating Customer</a>
        <img src="">
    </div>
</div>


<script>
function openNav() {
  document.getElementById("mySidebar").style.width = "350px";
  document.getElementById("main").style.marginLeft = "350px";
}

function closeNav() {
  document.getElementById("mySidebar").style.width = "0";
  document.getElementById("main").style.marginLeft= "0";
}

function growDiv() {
    var growDiv = document.querySelector(".job-management_nav");
    var chevron = document.querySelector(".chevron");
    if(growDiv.style.height == "" || growDiv.style.height == "0px"){
      growDiv.style.height = "144px";
      chevron.classList.add("selected");
    } else {
      growDiv.style.height = "0px";
      chevron.classList.remove("selected");
    }
}

function growJobBank(){
    var growDiv = document.querySelector(".job-management_create-job_taskbank");
    var growDivParent = document.querySelector(".job-management_nav");

    var chevron = document.querySelector(".job-bank_chevron");
    if(growDiv.style.height == "" || growDiv.style.height == "0px"){
      growDiv.style.height = "96px";
      growDivParent.style.height = "240px";
      chevron.classList.add("selected");
    } else {
      growDiv.style.height = "0px";
      growDivParent.style.height = "144px";
      chevron.classList.remove("selected");
    }   

}
</script>


</body>
</html>